<h2>Lista de Cursos</h2>

<table class = "table table-striped" width="100">
    <thead>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Data Lançamento</th>
        <th>Avaliação</th>
        <th>Opções</th>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos">
            <td><img [src]="curso.imageUrl" [alt]="curso.name" width="40px" height="40px"></td>
            <td>{{ curso.name }}</td>
            <td>{{ curso.price }}</td>
            <td>{{ curso.code }}</td>
            <td>{{ curso.releaseDate }}</td>
            <td>
                <app-estrelas [avaliacao]="curso.rating"></app-estrelas>
            </td>
            <td> </td>
        </tr>
    </tbody>
</table>